@page "/componenttest"

<div>
    <h1>@Title</h1>
    <p>@Description</p>
</div>


@code {
    [Parameter] public string Title { get; set; } = "dodosukotaisou";
    [Parameter] public string Description { get; set; } = "yo-idon!";
}
